<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
<script type = "text/javascript" src = "static/index.js"></script>

<div class="race-button-container">
    <img class="race-button" src="static/person1.jpg" onclick="playAudio('static/gong.mp3')">
    <img class="race-button" src="static/person1.jpg" onclick="playAudio('static/gong.mp3')">
    <img class="race-button" src="static/person1.jpg" onclick="playAudio('static/gong.mp3')">
    <img class="race-button" src="static/person1.jpg" onclick="playAudio('static/gong.mp3')">
    <img class="race-button" src="static/person1.jpg" onclick="playAudio('static/gong.mp3')">
    <img class="race-button" src="static/person1.jpg" onclick="playAudio('static/gong.mp3')">
</div>

</body>
</html>